.detailsSection{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
    background-color: var(--surface-color);
    backdrop-filter: blur(10px);
}