.albumSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.albumDataDiv{
    width: 100%;
}

@media (orientation: landscape) {
    .albumSection{
        max-width: 50vw;
        height: 70vh;
        aspect-ratio: 3/4;
    }
    .albumImg{
        width: 90%;
        aspect-ratio: 1/1;
        object-fit: contain;
    }
}

@media (orientation: portrait) {
    .albumSection{
        width: 90vw;
        max-height: 80vh;
        aspect-ratio: 5/4;
    }
    .albumImg{
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
        object-fit: contain;
    }
    .albumTitle{
        margin-top: 0.5rem;
    }
}


.albumTitle{
    width: 100%;
    margin-bottom: 0.5rem;
}
.albumArtist{
    width: 100%;
    margin-bottom: 2rem;

    font-weight: normal;
}

/* === BUTTONS === */

.buttonDiv{
    width: 100%;

    display: flex;
    justify-content: space-around;
}

.rateDiv{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
}
.ratingStars{
    height: 40px;
    align-items: center;
}
.ratingStars > label > span > svg{
    width: 1em !important;
    height: 1em !important;
    fill: var(--rating-color);
}


