.albumSection{
    background-color: var(--surface-color);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    padding: 2rem;
    border: var(--border-color) 1px solid;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.albumDataDiv{
    width: 100%;
}

@media (orientation: landscape) {
    .albumSection{
        max-width: 50vw;
        height: 70vh;
        aspect-ratio: 3/4;
    }
    .albumImg{
        width: 90%;
        aspect-ratio: 1/1
    }
    
}

@media (orientation: portrait) {
    .albumSection{
        max-width: 90vw;
    }
    .albumImg{

    }
}


.albumTitle{
    width: 100%;
    margin-bottom: 0.5rem;
}
.albumArtist{
    width: 100%;
    margin-bottom: 2rem;

    font-weight: normal;
}

/* === BUTTONS === */

.buttonDiv{
    width: 100%;

    display: flex;
    justify-content: space-around;
}

.rateDiv{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
}
.ratingStars{
    height: 40px;
    align-items: center;
}
.ratingStars > label > span > svg{
    width: 2.5rem !important;
    height: 2.5rem !important;
    fill: var(--rating-color);
}


