.histSection{
    background-color: var(--surface-color);
    border-radius: 25px;
    padding: 25px;

    display: flex;
    flex-direction: column;
}

.histFigure{
    width: 100%;
    margin: 0;

    overflow-y: scroll;
}

.entryItem{
    display: grid;
    grid-template-columns: 3rem auto;
    column-gap: 1rem;
    align-items: center;
}
.entryItem > img{
    width: 3rem;
}

@media (orientation: landscape) {
    .histSection{
        max-width: 40vw;    
    }
}