.histSection{
    background-color: var(--surface-color);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    padding: 2rem;
    border: var(--border-color) 1px solid;

    display: flex;
    flex-direction: column;
}

.histFigure{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.header{
    display: grid;
    grid-template-columns: 70% 30%;
    justify-content: center;
}
.header > h2{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.header > button{
    width: fit-content;
    padding: 0.5rem;
    align-self: center;
    justify-self: end;
}

.entryItem{
    display: grid;
    grid-template-columns: 3rem auto;
    column-gap: 1rem;
    align-items: center;
}
.entryItem > img{
    width: 3rem;
}

@media (orientation: landscape) {
    .histSection{
        max-width: 40vw;    
    }
}