.albumSection{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    

    display: flex;
    flex-direction: column;
    align-items: center;
}

.albumHeader{
    text-align: center;
}

.albumImg{
    max-height: 60vh;
    max-width: 80vw;
}

/* === BUTTONS === */

.buttonDiv{
    width: 100%;
    margin-top: 25px;


    display: flex;
    justify-content: space-around;
}
.rateDiv{
    width: 100%;
    margin-top: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}
.ratingStars{
    height: 40px;
    align-items: center;
}
.ratingStars > label > span > svg{
    
    fill: var(--rating-color);
}

.disable{
    display: none;
}


button{
    color: var(--text-primary);
    background-color: var(--surface-color);

    width: 40%;
    height: 40px;
}1