.albumSection{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    

    display: flex;
    flex-direction: column;
    align-items: center;
}

.albumHeader{
    text-align: center;
}

.albumImg{
    max-height: 60vh;
    max-width: 80vw;
}

/* === BUTTONS === */

.buttonDiv{
    width: 100%;

    display: flex;
    justify-content: space-around;
}
.rateDiv{
    width: 100%;
}
.disable{
    display: none;
}

button{
    color: var(--text-primary);
    background-color: var(--surface-color);

    width: 40%;
    height: 40px;
    margin-top: 25px;
}