main{
    min-height: 98vh;

    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    row-gap: 30px;
}

@media (orientation: portrait) {
    main{
        padding: 30px;    
    }
}