main{
    min-height: 98vh;

    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}

.History{
    max-width: 30vw;

    background-color: var(--surface-color);
    border-radius: 25px;
    padding: 3%;

    display: flex;
    flex-direction: column;
}

.histFigure{
    width: 100%;
    margin: 0;
}

.entryItem{
    display: grid;
    grid-template-columns: 3rem auto;
    column-gap: 1rem;
    align-items: center;
}
.entryItem > img{
    width: 3rem;
}